*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;

}

/*-----------------------------Navbar Section------------------------------*/
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    background-image: linear-gradient(to right, #0d0f0f,#1d3736);
    padding: 0 !important;
}

.navbar-brand img{
    height: 40px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
}

.navbar-nav li{
    padding: 0 10px;
}

.navbar-nav li a{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;

}

/*-------------------------------Banner Section-----------------------*/

#banner{
    background-image: linear-gradient(to right,#0d0f0f,#1d3736);
    color: #fff;
    padding-top: 5%;
}

.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}

.play-btn{
    width: 35px;
    margin: 20px; 
}

#banner a{
    color: #fff;
    text-decoration: none;
}

.bottom-img{
    width: 100%;
}

/*-----------------------------Services Section-------------------------*/

#services{
    padding: 80px 0;
}

.services-img{
    width: 150px;
    margin-top: 20;
}

.services{

    padding: 20px;
}

.services h4{
   
    padding: 5px;
    margin-top: 25px;
    
}

.services img{
    transition: 0.5s;
}

.services a:hover img{
    transform: translateY(-20px);
}


.title::before{
    content: '';
    background: #277471;
    height: 5px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}

.title::after{
    content: '';
    background: #277471;
    height: 10px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}

#services .btn-primary{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to left, #0d0f0f,#1d3736);
    transition: 0.5s;
    transform: translateY(-10px);
}






/*----------------------------About Us-----------------------------*/
 #about-us{
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
 }

.about-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}

.about-img{
   
   margin-top: 80px;

}

#about-us ul li{
    margin: 10px 0;
}

#about-us ul{
    margin-left: 20px;
}


/*------------------------Testimonials------------------------*/

#testimonials{

    margin: 50px 0;
}

.testimonials{
    border-left: 4px solid #277471;
    padding: 5px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.testimonials img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
}

.user-details{
    display: inline-block;
    font-size: 12px;
}



/*----------------------------Social Media--------------------------*/


#social-media{
    background-color: #f8f9fa;
    padding: 100px 0;
}

#social-media p{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}

.social-icons img{

    width: 60px;
    transition: 0.5s;

}

.social-icons a:hover img{
    transform: translateY(-10px);
}


/*----------------------------------------Contact Us-----------------------*/

#footer{

    background-image: linear-gradient(to right, #0d0f0f,#1d3736);
    color: #fff;

}

.footer-img{
    width: 100%;
}

.footer-box{
    padding: 20px;
}

.footer-box img{
    
    width: 120px;
    margin-bottom: 20px;

}




.footer-box .form-control{

     box-shadow: none;
     border-radius: 0;
     margin-top: 25px;
     max-width: 250px;
}


.footer-box .btn-primary{

    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    background-image: linear-gradient(to left, #0d0f0f,#1d3736);

}


hr{
    background-color: #fff;
}


.copyright{

    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}




/*------------------------------------------------ALL TUTOROALS WEB PAGE---------------------------------------------------------------*/




#cards_landscape_wrap-2{
    text-align: center;
    background-image: linear-gradient(to right, #000000,#1d3736);
  }

   

  #cards_landscape_wrap-2 .container{
    padding-top: 20px; 
    padding-bottom: 100px;
  }
  #cards_landscape_wrap-2 a{
    text-decoration: none;
    outline: none;
  }
  #cards_landscape_wrap-2 .card-flyer {
    border-radius: 15px;
  }
  #cards_landscape_wrap-2 .card-flyer .image-box{
    background: #000000;
    overflow: hidden;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
    border-radius: 15px;
  }
  #cards_landscape_wrap-2 .card-flyer .image-box img{
    -webkit-transition:all .9s ease; 
    -moz-transition:all .9s ease; 
    -o-transition:all .9s ease;
    -ms-transition:all .9s ease; 
    width: 100%;
    height: 200px;
  }
  #cards_landscape_wrap-2 .card-flyer:hover .image-box img{
    opacity: 0.7;
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform:scale(1.15);
  }
  #cards_landscape_wrap-2 .card-flyer .text-box{
    text-align: center;
  }
  #cards_landscape_wrap-2 .card-flyer .text-box .text-container{
    text-align: center;
  }
  #cards_landscape_wrap-2 .card-flyer{
    background: #000000;
    margin-top: 50px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
  }
  #cards_landscape_wrap-2 .card-flyer:hover{
    background: #000000;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 50px;
  }
  #cards_landscape_wrap-2 .card-flyer .text-box p{
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 15px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;
    background: #000000;
  }
  #cards_landscape_wrap-2 .card-flyer .text-box h6{
    margin-top: 0px;
    margin-bottom: 4px; 
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Black', sans-serif;
    letter-spacing: 1px;
    color: #ffffff;
    background: #000000;
  }


  #cards_landscape_wrap-2 .card-flyer .text-box:hover{
     
    transition: 0.8s;
     transform: translateY(-12px);

  }
  




